<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Twitter to Video</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div class="title">
      <h1> Twitter To Video</h1>
    </div>

    <h3>Enter up to four Twitter handles</h3>

        <form action="/render_video" method="post">
            Handle 1: <input type="text" name="handle1">  <br />
            Handle 2: <input type="text" name="handle2" /> <br />
            Handle 3: <input type="text" name="handle3">  <br />
            Handle 4: <input type="text" name="handle4" />
            <input type="submit" name= "form" value="Submit" />
        </form>
    
    <div class="developer">
      <h3>Developed by Noah Malhi</h3>
    </div>
  
  </body>
</html>