<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Twitter to Video</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div class="title">
      <h1> Twitter To Video</h1>
    </div>

    <h3>Enter up to four Twitter handles</h3>

    <form action="/main.py">
        <label for="hnam1">Handle 1:</label><br>
        <input type="text" id="hnam1" name="hnam1" value="malhinoah"><br>

        <label for="hnam2">Handle 2:</label><br>
        <input type="text" id="hnam2" name="hnam2" value="celtics"><br><br>

        <label for="hnam3">Handle 3:</label><br>
        <input type="text" id="hnam3" name="hnam3" value="TheGoldenRatio4"><br>
        
        <label for="lname">Handle 4:</label><br>
        <input type="text" id="hnam4" name="hnam4" value="NBA"><br><br>
        
        <input type="submit" value="Submit">
      </form>
    
    <div class="developer">
      <h3>Developed by Noah Malhi</h3>
    </div>
  
  </body>
</html>